@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: content-box;
}
/*------------VARIABLES-----------*/
:root{
    --number-font-size: 32px;
}           

.attribution { 
    font-size: 11px; 
    text-align: center;
    color: white; 
    margin-bottom: none;
    padding: .5rem 0;
    line-height: 1.6;
    background: black;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body{
    font-family: 'Spartan', sans-serif;
}

.border{
    border-radius: 10px;
}

.Calculator{
    position: relative;
    z-index: 0;
    height: 93vh;
    width: 85vw;
    margin: auto;
    max-width: 500px;    
}
/*------------HEADER-----------*/
.Calculator__Header{
    display : flex;
    justify-content: space-between;
    align-items: center;
}

.Calculator__Header--Title h3{
    padding: 1.2rem 0;
}

/*------------THEMES-----------*/
.Calculator__Header--Theme{
    display: flex;
    justify-content: flex-end;
    padding: 0.2rem;
    padding-right: 0;
    width: 25vw;
    max-width: 200px;
    align-items: flex-end;
}

#themeKnob{
    cursor: pointer;
}

.Theme__Title--Paragraph{
    font-size: 0.7rem;
    padding-right: 0.2rem;
}

.Theme__Knob{
    display: flex;
    flex-direction: column;
}

.Theme__Knob--List{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.Theme__Knob--List--Item{
    font-size: 0.5rem;
}

.Theme__Knob--Slot{
    display: flex;
    padding: 0.1rem 0.2rem;
    width: 3rem;
    height: 1rem;
    align-items:center ;
}

.Theme__Knob--Knob{
    border-radius:50%;
    height: 0.8rem;
    width: 30%;
}


.Calculator__Content{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*------------SCREEN-----------*/
.Calculator__Screen{
    height: 20vh;
}

.Calculator__Screen--History,
.Calculator__Screen--Current{
    text-align: right;
    margin: 0.5rem;
}

.Calculator__Screen--Current{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

/*-------------PAD------------*/
.Calculator__Pad{
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 55vh;
    margin: auto 0;
}

/*-----------PAD GRID----------*/
.Calculator__Pad--Grid{
    display: grid;
    height: 48vh;
    width: 75vw;
    max-width: 30rem;
    margin: 1.5rem;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

/*----------- BUTTONS ----------*/
.Button{
    z-index: 100;
    top:-0.3rem;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 1.5rem;
    
    cursor: pointer;
}

.DelButton{
    font-size: 1.1rem;
}

.ResetButtonShadow{
    grid-column: 1 /span 2;
    text-align: center;
    max-width: none;
    font-size: 1.1rem;
  
}

.EqualsButton,
.ResetButton{
    width: 100%;
    max-width: none;
}

.EqualsButtonShadow{
    grid-column: 3/ span 2 ;
    max-width: none;  
    font-size: 1.1rem;
}

/*-----------BUTTON SHADOW----------*/
.ButtonShadow{
    position: relative;
    border-radius: 5px;
    z-index: 5;
}